# Absolventenverein

<div class="carousel"></div><script>buildCarousel('Absolventenverein');</script>

Wir dürfen uns vorstellen: Wir sind der 1925 gegründete Kollegentag der Schottenbastei, ein Verein ehemaliger Schüler*innen und Absolvent*innen des Lise Meitner Realgymnasiums! Wir stehen der Schulgemeinschaft als Ansprechpartner*innen für vertretene Berufsfelder zur Verfügung und bieten eine Möglichkeit zum Austausch für, während und nach der Schulzeit.
In der Vergangenheit konnten durch die Mitgliedsbeiträge verschiedene Schulveranstaltungen unterstützt werden, etwa mit Pokalen für das Sportfest, einer Band für den Schulball oder Equipment für den Unterricht. Sowie unternehmen wir auch verschiedene Exkursionen und bieten auch Vorträge in der Schule an.
Informationen können Sie [auf unserer Webseite](https://brg1.at/kollegentag) erhalten und erreichen können Sie uns per Mail kollegentag@brg1.at , via [Facebook](https://www.facebook.com/kollegentag/).
Der Kollegentag der Schottenbastei
Netzwerk – Unterstützung – Kollegentag
