# Bildnerische Erziehung

<div class="carousel"></div><script>buildCarousel('Bildnerische Erziehung');</script>

Liebes Besucherkind!

Im Unterrichtsfach **"Bildnerische Erziehung"** beschäftigt man sich am BRG1 - so wie du das schon aus der Volksschule kennst - mit Zeichnen und Malen sowie insgesamt den vielfältigen Techniken und Erscheinungsformen der bildnerischen Gestaltung unserer Lebensumwelt.

Ob das nun u.a. die Welt der Comics, das Produktdesign, die Fotografie, Plakatkunst, Schriftgestaltung,  Druckgrafik, Figurenmodellieren oder Beispiele der Kunstgeschichte sind - vieles davon wirst du kennenlernen und eine ganze Menge davon auch selbst ausprobieren und anwenden.<br>
Wenn du auf den beigefügten Fotos deinen Blick über die Wände unseres BE-Saals schweifen lässt, siehst du in den Wandmalereien, Spray-Graffitis und Manga-Zeichnungen einen kleinen Ausschnitt davon...

Der **BE-Saal** wird für dich und deine Klassenkamerad*innen acht Jahre lang das "Künstler- Atelier" sein, grundsätzlich jeweils zu **einer fixen wöchentlichen Doppelstunde**. Nur in der **2. und 6. Klasse findet der BE-Unterricht 14-tägig** statt.<br>
In der **7. und 8. Klasse hast du die Wahl zwischen Musik- und BE-Unterricht**.

Besonders Interessierte können in der Oberstufe zusätzlich das **"Wahlpflichtfach BE"** (s.d.!) besuchen.

Weiters werden in der Unterstufe die **Unverbindliche Übung "Bildnerisches Gestalten - Fotokurs"** (s. d.!) sowie ergänzende **"Kreativstunden"** im Rahmen der Nachmittagsbetreuung angeboten.


Die Kunsterzieher des BRG1 freuen sich schon jetzt auf **deine** kreativen Beiträge!
