# Willkommen im Biologiesaal des BRG1! 

Der Unterricht „Biologie und Umweltkunde“ behandelt je nach Jahrgang verschiedene Bereiche der Naturwissenschaften, die im Laufe der Jahre miteinander kombiniert erarbeitet werden. Dazu zählen unter anderem die umfassenden Themengebiete Mensch, Gesundheit sowie Ökologie und Umwelt. 
Das Wissen über die Funktionen des eigenen Körpers, das Erarbeiten einer gesundheitsfördernden Lebensweise, der Natur- und Artenschutz und die Thematisierung des Klimawandels stehen im Mittelpunkt eines methodenreichen Unterrichts. 
Das Lise-Meitner-Realgymnasium ist gekennzeichnet durch seinen naturwissenschaftlichen Schwerpunkt: Zusätzlich zum Regelunterricht in Biologie, Physik und Chemie finden die Schülerinnen und Schüler hier einen erweiterten naturwissenschaftlichen Unterricht – das naturwissenschaftliche Praktikum NWP – welches fächerübergreifend und in Form von Kleingruppen stattfindet. 
Auf diese Weise fördern wir die Wissenschaftskompetenz und Kreativität der Schülerinnen und Schüler gezielt und individuell.


<div class="carousel"></div><script>buildCarousel('Biologiesaal');</script>


# Naturwissenschaftliches Praktikum - BIOLOGIE
In der Unterstufe wird das Interesse für die Naturwissenschaften durch das Angebot an fächerübergreifenden Praktika geweckt und gefördert. 
Für diese Praktika werden die Klassen geteilt, so dass die Kinder verschiedene Fähigkeiten der Naturwissenschaften in Kleingruppen erlernen können. Neben dem gemeinsamen Arbeiten sollen die Schülerinnen und Schüler auch die Dokumentation der Experimente sowie die Interpretation und Auswertung der Versuchsergebnisse erlernen. Lehrausgänge und Vorträge von Expertinnen und Experten sind wesentliche Bestandteile der anschaulichen Vermittlung der Lehrinhalte. In jeder Schulstufe sind am NWP-Unterricht zwei Fächer beteiligt.
In der Unterstufe wecken wir das Interesse der SchülerInnen für die Welt der Naturwissenschaften durch folgende Praktika:


![Tabelle](/content/Biologiesaal/NWP%20-%20BIO/tabelle.png)


In der Oberstufe setzen die SchülerInnen ihre individuellen Schwerpunkte selbst. Zur Auswahl stehen dafür die Fächer Informations- und Kommunikationstechnologie (IKT), Computergestützte Darstellende Geometrie (CDG) und die beiden naturwissenschaftlichen Schwerpunktfächer, Biochemie (NBC) und Physik (NPH).

Das naturwissenschaftliche Praktikum …
…  bildet eine optimale Ergänzung zum regulären Biologieunterricht mit einem hohen Anteil an experimentellen Arbeiten. 
… zeigt die fächerübergreifenden Schnittpunkte mit den anderen Unterrichtsfächern auf. 


