# Chemie

<div class="carousel"></div><script>buildCarousel('Chemiesaal');</script>

## Chemie – die Welt der Stoffe

Der Chemieunterricht in unserem Realgymnasium beginnt in der vierten Klasse.  

Wir beschäftigen uns mit den Stoffen, die uns umgeben und untersuchen deren Eigenschaften, Aufbau und Umwandlungen (chemische Reaktionen).  

Zusätzlich gibt es in der vierten Klasse das Naturwissenschaftliche Praktikum (NWP). Dabei handelt sich um Laborunterricht, in dem die Schülerinnen und Schüler chemische Experimente selbstständig durchführen und auswerten dürfen.

In der Oberstufe findet der Chemieunterricht in der sechsten, siebten und achten Klasse statt. 

## NWP Chemie in der 4. Klasse

Am Lise Meitner Realgymnasium findet in den vierten Klassen das naturwissenschaftliche Praktikum (NWP) Chemie statt. In der ersten Einheit bekommen die Schülerinnen und Schüler eine grundlegende und ausführliche Einführung in das praktische Arbeiten im Chemielabor (Gefahrenquellen, Kennzeichnung von Chemikalien, Sicherheitseinrichtungen, richtiges Verhalten beim Experimentieren, ...). Die Vielzahl der darauffolgenden Experimente ist so ausgewählt, dass sie dem Wissen und dem Können der Altersgruppe entsprechen. 

Neben Labortechniken, zu denen das Messen von Volumina und der richtige Umgang mit Laborwaagen gehören, werden Stoffeigenschaften wie Löslichkeit und Leitfähigkeit erforscht. Natürlich darf die Untersuchung der Brennbarkeit bestimmter Flüssigkeiten nicht fehlen. Das „Ionenfischen“ ist ein Beispiel für eine qualitative Analyse. Dabei müssen Schülerinnen und Schüler ihr detektivisches Gespür unter Beweis stellen. Der Bereich Umwelt wird durch eine professionelle Wasseranalyse berücksichtigt.

Im zweiten Semester werden Seifen und Waschmittel genau untersucht und das Thema Ernährung wird durch Experimente mit Proteinen, Kohlenhydraten und Fetten erarbeitet.

Es ist ein abwechslungsreiches Programm, dass die Schülerinnen und Schüler absolvieren. Am Ende der vierten Klasse verfügen sie über ein umfassendes Basiswissen in Chemie und in der Labortechnik. Und das Wichtigste: Der Ablauf und die Sinnhaftigkeit von Experimenten wurde geschult und verinnerlicht.  Der Umgang mit Geräten, Materialien und Chemikalien sowie die Durchführung, die Beobachtung und die Auswertung von chemischen Versuchen gehören nun zum Erfahrungsschatz unserer Schülerinnen und Schüler. 

### Schwerpunktfach Biochemie

Das Konzept des Schwerpunktfaches ist recht simpel: Themen werden unter chemischen, biologischen und natürlich biochemischen Aspekten behandelt. Dabei werden Theorie und Praxis in einem guten Verhältnis kombiniert. Die Inhalte werden in zwölf Kapitel unterteilt und anhand eines Skriptums bearbeitet. 

1. Harnapparat, Salz- und Wasserhaushalt
2. Muskulatur, Aufbau von Proteinen, Energiegewinnung in der Muskelzelle
3. Enzymatische Katalyse
4. Leber, Stoffklasse der Alkohole, Alkoholische Gärung
5. Hormonsystem des Menschen
6. Atmungsapparat, Schadstoffe im Zigarettenrauch, Feinstaub in der Luft
7. Forensische Chemie und Molekulargenetik, Gentechnik und ihre Anwendung
8. Gentechnik und ihre Anwendung
9. Mikrobiologie und Hygiene
10. Pharmazie, Verabreichung und Wirkung von Medikamenten
11. Ernährung des Menschen
12. Energiestoffwechsel

Eines der Fotos zeigt Schülerinnen und Schüler der 7. Klassen bei einer praktischen Aufgabe, dem Sezieren einer Schweineniere. Anhand eines Längsschnittes ist es möglich, den makroskopischen und mikroskopischen Bau der Niere näher zu untersuchen. Damit lassen sich Rückschlüsse auf die Funktion des Harnapparates ziehen. 

Ein weiteres Foto zeigt den Besuch im Vienna Open Lab, der es den Schülerinnen und Schülern der 8. Klassen ermöglicht, eine professionelle DNA-Analyse durchzuführen. 

Versuche zur Osmose und zum Nachweis von Blutspuren sind ebenfalls abgebildet.

Eines der Ziele des Schwerpunktfaches Biochemie ist, den Teilnehmerinnen und Teilnehmern biochemische Grundlagen beizubringen, die sie einerseits für eine naturwissenschaftliche Allgemeinbildung und andererseits für ein entsprechendes Studium gut brauchen können. Misst man den Erfolg dieses Unterrichtsfaches an der Anzahl der Maturantinnen und Maturanten, so können wir durchaus zufrieden sein. Im Durchschnitt besuchen etwa 20 Schülerinnen und Schüler der achten Klassen das Schwerpunktfach, etwa die Hälfte tritt zur Reifeprüfung an. 



