# Elternverein

<div class="carousel"></div><script>buildCarousel('Elternverein');</script>

Was ist der Elternverein?
Der Elternverein ist ein Verein, dem alle Erziehungsberechtigten von Schüler*innen unserer Schule beitreten können. Er ist das Bindeglied zwischen den Eltern und der Schule und verfolgt das Ziel, die Zusammenarbeit zwischen Schule und dem Elternhaus zu fördern und zu unterstützen. 

Diese Ziele werden erreicht durch:
- Finanzielle Unterstützung bei Projektwochen, Sportwochen, Kennenlerntagen, div. Schulprojekten, Schulveranstaltungen und in besonderen Härtefällen
- Ankauf von zusätzlichen Lernmaterialien, die z.B. von der Bildungsdirektion nicht bezahlt werden
- Anschaffung und Instandhaltung von Spinden für die Schüler*innen
- Mitwirkung beim Tag der offenen Tür, dem Tag der Wiener Schulen, beim Sportfest etc.

Die finanziellen Mittel für diese Aktivitäten des Elternvereins werden durch Mitgliedsbeiträge aufgebracht.

Wenn Sie Fragen haben und/oder mehr über das BRG1 Lise-Meitner Realgymnasium aus Elternsicht erfahren wollen, erhalten Sie niederschwellig Informationen durch die Obfrau des Elternvereins.

Kontakt zum Elternverein:
- Per e-mail [evbrg1@gmx.at](mailto:evbrg1@gmx.at)
- Obfrau Helga Crespo (0676-5235083)
