# Französisch

In der 5. Klasse hast du an unserer Schule die Möglichkeit, dich zwischen Französisch und Latein zu entscheiden.

Französisch ist eine lebende Fremdsprache, die dir helfen wird, mit vielen Menschen auf der Welt kommunizieren zu können. Du lernst im Französischunterricht, dich in der Fremdsprache auszudrücken - sowohl mündlich als auch schriftlich. Dazu verwenden wir Französischlehrer*innen am BRG1 viele unterschiedliche Methoden- wir motivieren euch zu sprechen, sehen gemeinsam französische Filme, lesen französische Bücher und üben den Umgang mit dieser schönen Sprache in vielfältiger Weise. 

Außerdem gibt es an unserer Schule, üblicherweise in der 7. Klasse, meistens eine Sprachreise nach Frankreich. Dort wohnt ihr in Gastfamilien, nehmt am Französischunterricht in einer Sprachschule teil, genießt ein vielfältiges Ausflugsprogramm und erkundet die Stadt. 

Immer wieder haben wir auch französischsprachige Native Speakers, die mit uns LehrerInnen in den Unterricht kommen und mit euch authentisch auf Französisch kommunizieren. Das ist ein besonderer Anreiz, die Sprache gut zu lernen und eine tolle Motivation, wenn man sieht, dass man in einer fremden Sprache versteht und verstanden wird. 

Französisch ist eine Weltsprache, die dir viele Türen öffnen wird- sei es beim Reisen, bei der Arbeitssuche oder beim Studium.

Wir freuen uns, wenn du dich dazu entschließt, diese schöne Sprache zu erlernen. Bonne journée! 


<div class="carousel"></div><script>buildCarousel('Französisch');</script>