# Geographie und Wirtschaftskunde

<div class="carousel"></div><script>buildCarousel('Geografie');</script>

Willkommen bei der Station: Geographie und Wirtschaftskunde

Geographie und Wirtschaftskunde ist ein sehr abwechslungsreiches Fach. 

In der ersten Klasse lernst Du mehr über unsere Erde:<br>
Du wirst
 - die einzelnen Kontinente und Klimazonen kennenlernen und erfahren, wie die Menschen in den verschiedenen Klimazonen leben und wirtschaften.
 - Karten lesen und lernen, dich mit Hilfe von Karten bzw. dem Handy zu orientieren.
 - die unterschiedlichen Naturgefahren erforschen und ihre Auswirkungen auf den Menschen und die Umwelt erkennen können. 
 - erfahren, wie Rohstoffe genutzt werden und wie man Energie gewinnt.
 - erkennen, dass nicht nur die Vorgänge auf der Erde und deren Auswirkung auf den Menschen wichtig sind, sondern auch, wie die Menschen die Erde verändern.

In der zweiten Klasse lernst Du über Gunst- und Ungunsträume, Städte, Industrie und Gewerbe und öffentliche, sowie private Dienstleistungen.

In der dritten Klasse hörst Du über Österreich und über das Arbeiten und Wirtschaften in Österreich. Die Berufsorientierung spielt dabei eine große Rolle.

Und in der vierten Klasse erfährst Du mehr über die Zentren und Peripherien in der Weltwirtschaft, über Globalisierung und deren Auswirkung auf die Arbeitswelt.

In der Oberstufe wird im Rahmen des Geographie- und Wirtschaftskundeunterrichts der Unternehmensführerschein angeboten.


