# Geometrie am RG1

<div class="carousel"></div><script>buildCarousel('Geometrie');</script>

## Geometrisches Zeichnen GZ

in der 3.Klasse, einstündig.

### Lerninhalte

die 3. Dimension, Koordinatensystem, Schrägriss, Axonometrie, Grund-Auf-Kreuzriss, Schulung der Raumvorstellung, Kennenlernen der einfachen 3-dim Körper

## Geometrisch-Technisches Gestalten GTG

in der 4.Klasse, zweistündig, gekoppelt mit Technischem Werken.

### Lerninhalte

CAD-Programm, Werkstücke werden entworfen (Handskizzen), am Computer modelliert und im Werkraum gebaut

## Computergestützte Darstellende Geometrie

als Wahlfach in der 7. und 8. Klasse

als Vorbereitung für die Studienrichtungen Architektur, Graphik, Bauingenieurwesen, Maschinenbau, Produktdesign und Industrialdesign