# Unverbindliche Übung und Wahlpflichtfach Italienisch

<div class="carousel"></div><script>buildCarousel('Italienisch');</script>

## Italienisch macht Spaß!

- Die Unverbindliche Übung Italienisch wird in der 3. Klasse angeboten und soll ein “Hineinschnuppern” in die Sprache unseres Nachbarlandes ermöglichen. Hier steht eindeutig der Spaß abseits von Notendruck im Vordergrund! Ein Eis bestellen? Schulgegenstände benennen? Sich vorstellen und erste einfache Sätze bilden? Alles kein Problem!

- Im Wahlpflichtfach Italienisch (zwei Wochenstunden, ab der 6. Klasse) lernt man, sich in Alltagssituationen mündlich angemessen in dieser Sprache auszudrücken. Kulturelle, geographische, politische und gesellschaftliche Besonderheiten unseres Nachbarlandes sind ebenso Thema wie aktuelle italienische Musik und Filme. Wir werden Geschichten lesen und die Bedeutung der italienischen Gestik erkunden. Natürlich werden wir auch einmal zum Italiener essen gehen und in der neuen Fremdsprache bestellen!


Es gibt im Wahlpflichtfach Italienisch Noten, aber keine Schularbeiten, denn das Hauptaugenmerk liegt auf dem mündlichen Sprachgebrauch. 