# Latein am BRG1

<div class="carousel"></div><script>buildCarousel('Latein');</script>

## Salvete puellae et pueri!
Die Schülerinnen der 6. und 7. Klassen haben für euch ein Quiz vorbereitet. Hebt euch die Lösungen gut auf. Für jedes richtige gelöste Quiz gibt es ein kleines Andenken aus Rom, wenn ihr uns wieder in der Schule besuchen dürft. Valete!

## Salvete parentes!
Wir unterrichten an unserer Schule Latein ab der 5. Klasse Oberstufe als alternatives Pflichtfach in der Kurzform, das heißt vier Jahre lang bis zu Matura. Im ersten Lernjahr haben die Schüler und Schülerinnen vier, dann drei Lateinstunden pro Woche. 
Dabei werden nicht nur die Grundkenntnisse der lateinischen Sprache vermittelt – eine Voraussetzung für viele Studienrichtungen-, sondern auch wesentliche Grundlagen der europäischen Kultur, Geschichte und Philosophie. Zudem werden auch die Kenntnisse der deutschen Grammatik sowie der Fremdwörter und ihrer Herkunft vertieft und erweitert. 
Üblicherweise findet in der 7. Klasse auch eine Kulturreise nach Rom statt, die leider dieses Jahr ausfallen musste. 
