# Mathematik

<div class="carousel"></div><script>buildCarousel('Mathematik');</script>

Liebe Schülerin / Lieber Schüler

**Mathematik** gehört zu deinen **Lieblingsfächern**?
Dann bist du hier bei uns am **BRG 1**, dem Lise-Meitner-Realgymnasium, genau richtig!

In den nächsten Schuljahren wirst du alles über die negativen Zahlen, Wurzeln, das Lösen von Gleichungen und vieles mehr lernen.
Oft ist auch in der Mathematik der **Einsatz von Computern** gefragt, darum wirst du bei uns auch Mathematikprogramme kennenlernen.

Die Teilnahme an Wettbewerben ist ein großer Bestandteil an unserer Schule. Jährlich nehmen wir als gesamte Schule am **Känguru der Mathematik** teil und einige erzielen hier sogar österreichweit tolle Platzierungen. Viele unserer Schüler/innen haben sich auch zum Programm **Mathematik macht Freu(n)de**, ein Kurs von und an der Universität Wien, angemeldet.

Besonders begabte und interessierte Schülerinnen und Schüler besuchen Jahr für Jahr den Kurs der **Mathematikolympiade** und haben sich in den letzten Jahren für den internationalen Bewerb qualifiziert. Das ist keine Selbstverständlichkeit und darauf sind wir natürlich besonders stolz.

Um die Begeisterung für Mathematik zu fördern, aber auch um Schwächen auszugleichen, gibt es bei uns in fast jedem Jahrgang sogenannte **Mathematikassistenzen**. Das sind Lehrerinnen und Lehrer, die regelmäßig als zweite Lehrkraft im Mathematikunterricht vorhanden sind, um einen Unterricht in kleineren Gruppen zu ermöglichen und von unseren Schülerinnen und Schülern sehr geschätzt werden. 
