# Musikerziehung am BRG1

<div class="carousel"></div><script>buildCarousel('Musiksaal');</script>

Hör zu und singe, klatsche, tanze, spiele mit uns!

Schade, dass wir hier auf dieser Seite nur schreiben können, wie der Musikunterricht bei uns am BRG1 abläuft. Dabei würden wir die Lieder und Tänze, die Rhythmusübungen, unser Klavier, das tolle Schlagzeug und die vielen Instrumente im Musiksaal gerne vorführen.  Natürlich könnten wir dann auch ausführlich über den gemeinsamen Besuch von Proben, Konzerten, Opern und Musicals erzählen. Als kleinen Trost gibt es ein paar Kostproben und Bilder unserer Arbeit, die wir im Laufe des vergangenen Schuljahres so aufgenommen haben. 

Viel Spaß beim Anhören und Anschauen!

PS: Wir haben sogar eine eigene Schulhymne:               

<iframe width="560" height="315" src="https://www.youtube.com/embed/R13nOvthSRg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

## Schullied: O Schottenbastei

O Schottenbastei, eine Schule, ein Wort, 
bist klein, aber fein, so vertraut uns als Ort.
So viele junge Menschen hast du schon belehrt, 
drum wirst du auch heute von uns geehrt. 

Du lehrst Wissen, Respekt uns und Toleranz, 
und klappt’s mit dem Lernen noch nicht so ganz,
so spüren wir doch, mit vereinter Kraft 
geht’s leichter und jedes Problem wird geschafft.

Hast aus vielen von uns reife Menschen gemacht,
so manche Berühmtheit hervorgebracht.
O Schottenbastei, du bist alt und doch jung,
bitte halt uns noch viele Jahre in Schwung.

Keine Schule ist wie du, wir sind eins, wir gehören dazu!
Und wenn wir ab und zu auch auf dich schimpfen, dir groll’n,
es gibt keine Schule, die wir lieber woll’n!

Text: Ulrike Sailer, Melodie: Wolfgang Reisinger


# „Komm sing mit!“  - Die Unverbindliche Übung Chor

Gemeinsames Singen macht Spaß – darum trifft sich der Chor des Lise Meitner- Realgymnasiums einmal pro Woche, um zwei Stunden lang miteinander zu singen. 

Bei der Auswahl der Lieder gilt: Wir singen, was uns gefällt! Daher proben wir Lieder aus aller Welt, Schlager, Pop- und Rocksongs, Volkslieder und Spirituals, die wir dann bei verschiedenen Schulveranstaltungen aufführen.

Zu den Highlights gehören der Tag der Offenen Tür, das weihnachtliche Singen im Stiegenhaus unserer Schule und natürlich das große Schlusskonzert, das jedes Jahr im Mai im Festsaal des Alten Rathauses stattfindet. 

Außerdem gibt es seit drei Jahren einen zweitägigen Chorausflug nach Tulln. Den feierlichen Abschluss bildete im Jänner 2020 die musikalische Messgestaltung in der Stiftskirche in Klosterneuburg.

Auch wenn wir gerade wegen des Corona-Virus nicht im Klassenzimmer und bei Konzerten singen können, trainieren wir online weiter, denn Singen macht Mut und stärkt das Immunsystem! 