# PEERMEDIATION

<div class="carousel"></div><script>buildCarousel('Peers');</script>

Seit dem Schuljahr 2010/11 gibt es am Lise-Meitner Realgymnasium PEERS. Peers sind Schüler*innen der Oberstufe, die Mitschüler*innen der Unterstufe bei der Lösung von Konflikten helfen. 
Es wird nach den Grundsätzen der Allparteilichkeit, Freiwilligkeit, und der Vertraulichkeit gearbeitet.
Die Peers betreuen die Klassen der Unterstufe, helfen bei der Gemeinschaftsbildung, tragen zu einem friedlichen Schulklima bei und leisten einen Beitrag zur Gewaltprävention.
Die Ausbildung erfolgt durch Fortbildungen und Seminare, durch unverbindliche Übungen und durch Workshops.

Emailadresse: [peers@brg1.at](mailto:peers@brg1.at)
