<h1>Physik</h1>

<div class="carousel"></div><script>buildCarousel('Physiksaal');</script>

Willkommen am virtuellen Tag der offenen Tür im Fachbereich Physik

Das Lise Meitner Gymnasium ist ein reines Realgymnasium. Neben dem klassischen Physikunterricht bieten wir erweiterten naturwissenschaftlichen Unterricht in Form von wöchentlichen Praktika in der 2., 3. und 6. Klasse an. 

Unser Physikpraktikum in der 2. Kasse wird in Kleingruppen fächerübergreifend von Physik mit Technisch Werken abgehalten.
Hier lernst du Versuche zu Stromkreisen, Magnetfeldern, dem Verhalten von Gasen, dem Aufbau unserer Materie usw. kennen.

In der 3. Klasse wird das Praktikum fächerübergreifend von Physik und Biologie abgehalten. Hier wecken wir das Interesse für Physik unserer Schüler/innen durch eigenständige Durchführung vieler anschaulicher Experimente im Stationenbetrieb. Auch das Erstellen von Versuchsprotokollen wird gefestigt. Themen, die wir in diesen Praktika erarbeiten, sind Luft, Temperatur, Druck, unsere Atmosphäre, Auftrieb und viele andere.

Unser Physik Schwerpunkt in der Oberstufe bietet in der 6. Klasse ein Naturwissenschaftliches Praktikum fächerübergreifend von Physik mit Biologie und Englisch an. Für die 7. und 8. Klasse können Schülerinnen und Schüler das Schwerpunktfach Physik Aktuell wählen, das auch maturabel ist.