# Religionsunterricht am Lise Meitner RG

<div class="carousel"></div><script>buildCarousel('Religion WIR Ethik- und Werteunterricht');</script>

Der Religionsunterricht leistet einen wertvollen Beitrag bei der Entwicklung und Entfaltung der Schülerinnen und Schüler. Im Mittelpunkt steht das erfahrene und erfahrbare Leben in dieser Welt und in dieser Gesellschaft mit den ihr eigenen sozialen und kulturellen Bedingungen. Den wichtigen Fragen des Lebens wird Raum und Zeit gegeben, damit die Kinder zur Sprache bringen können, was sie berührt und bedrückt, was ihnen Hoffnung gibt und ihnen Möglichkeiten aufzeigt, woran sie glauben und was sie nicht glauben. Er hilft, das Leben zu deuten, ihm Sinn und Orientierung zu geben und auch die religiöse Identität zu klären. Er zeigt auf, wie Menschen zu allen Zeiten darum gerungen haben, was denn der Glaube ist, wie Versöhnung möglich sein kann und welchen Beitrag er zu einem friedlichen Miteinander leistet. Die Schülerinnen und Schüler schätzen den Religionsunterricht, weil sie dort sein können wie sie sind, Spaß haben, Gemeinschaft erleben und über das alltägliche Leben mit den vielen Herausforderungen nachdenken können. 

## WIR: Werte – Interkulturelles Lernen – Religionen (Unterstufe)

"Was suchst du?", sagte der Fuchs. <br>
 "Ich suche Freunde", sagte der kleine Prinz. … "Was bedeutet zähmen?"<br>
"Das ist eine fast vergessene Sache", sagte der Fuchs. Es bedeutet: „sich vertraut machen." <br>

(Antoine de Saint-Exupéry: Der kleine Prinz)

Seit dem Schuljahr 2019-20 gibt es das Fach WIR, das mit den 1. Klassen beginnend mit einer Unterrichtsstunde in der Unterstufe geführt wird. Der WIR-Unterricht versteht sich als Begegnungsunterricht, der Schülerinnen und Schülern die Möglichkeit bietet, gemeinsam zu ethischen, philosophischen und religiösen Fragestellungen Wissen zu erwerben. Hier ist Gelegenheit, über Gemeinsamkeiten und Unterschiede ins Gespräch zu kommen und face to face – auf Augenhöhe – mit- und voneinander zu lernen. Er leistet einen wichtigen Beitrag zu einer positiven Lebenseinstellung, zu einem friedlichen Miteinander und er will helfen, sich mit den vielen Themen des Zusammenlebens vertraut zu machen. 

Inhaltlich fördert der WIR-Unterricht die von der Europäischen Union beschriebenen gemeinsamen Grundwerte wie Menschenwürde, Demokratie, Vielfalt, Toleranz, Gerechtigkeit, Solidarität, Gleichheit von Frauen und Männern.

## Ethik- und Werteunterricht (Oberstufe)

Seit nun zehn Jahren gibt es das Fach Ethik- und Werteunterricht für alle Schülerinnen und Schüler der Oberstufe, die an keinem konfessionellen Religionsunterricht teilnehmen. Damit wurde eine Lücke des österreichischen Bildungsziels geschlossen. Mit dem Schuljahr 2021/22 ist geplant, das Fach Ethik in der Oberstufe verpflichtend einzuführen.

Der Ethik- und Werteunterricht unterstützt die Schülerinnen und Schüler bei der Entwicklung einer eigenständigen und differenzierten Wert- und Handlungsorientierung und trägt zur Förderung ihrer personalen, sozialen und kognitiven Kompetenzen bei. Er orientiert sich an den aus der Geschichte hervorgegangenen Grund- und Menschenrechten, auf denen auch die österreichische Bundesverfassung und das österreichische Bildungswesen basieren. Die spezielle Auseinandersetzung mit Grundbegriffen und Grundwerten wie Autonomie, Freiheit, Offenheit, Toleranz, Rechte, Normen, Demokratie, Humanität, Solidarität, Tugend, Friede und Gerechtigkeit sind wesentliche Inhalte des Ethikunterrichts in einer pluralistischen Gesellschaft. 

Grundlegende Ziele des Ethik- und Werteunterrichts sind die Förderung des selbständigen Urteilens und sozialen Verständnisses, die Aneignung von Toleranz gegenüber Andersdenkenden, die Bildung eines Korrektivs bei inhumanen Strukturen, die Förderung der Dialogbereitschaft sowie ein respektvoller Umgang vor dem Ethos der Religionen und Kulturen, um ein friedliches Zusammenleben zu gewährleisten. 