# Spanisch-Wahlpflichtfach

<div class="carousel"></div><script>buildCarousel('Spanisch');</script>

İHola!

Willst du Spanisch, derzeit auf Rang 2 der meistgesprochenen Muttersprachen weltweit, lernen? Dann bist du am BRG 1 genau richtig!
Wir bieten dir:
- Spanisch zu je 2 Wochenstunden ab der 6. Klasse (7. & 8. Klasse ebenfalls 2 Wochenstd.)
- mündlich maturabel auf Niveau A2
- kleine Gruppen (ca. 10 SchülerInnen), die mit einem modernen Lehrwerk arbeiten
- einen kommunikativen Ansatz mit viel Abwechslung, Liedern, Kultur etc.
 

İHasta pronto!