# Technisches Werken

<div class="carousel"></div><script>buildCarousel('Technisches Werken');</script>

## 3-D Figur aus Wellpappe

TEC  1. Klassen (Schuljahr 2019/20)

Die 1. Klassen entwarfen und erzeugten in diesem Schuljahr im Technischen Werken eine Figur nach eigenen Vorstellungen. Die Vorgaben dazu waren: Die Figur sollte dreidimensional aufgebaut und nicht flächig ausgeführt sein und sie musste über eine ausreichende Standfestigkeit verfügen, um nicht durch den ersten Windstoß umgeworfen zu werden.

Nach dem Skizzieren der Figur aus drei unterschiedlichen Ansichten erfolgte das Zurichten der benötigten Bauteile. Als Baumaterial stand Wellpappe zur Verfügung, zum Verbinden flüssiger Klebstoff oder Kreppbänder Die Wellpappe konnte mit der Schere oder dem Abbrechmesser geschnitten bzw. mit der Laubsäge gesägt werden. Das Material ist sehr leicht und bezogen auf sein Gewicht relativ stabil. Es bietet dadurch nur einen geringen Bearbeitungswiderstand.

Wellpappe als Baumaterial zu verwenden hat den Hintergrund, dass sie über eine natürliche Rohstoffbasis verfügt. Wellpappe besteht durchschnittlich zu 80 Prozent aus Recyclingmaterial, nämlich Altpapier. Der Rest sind Frischfasern aus Zellstoff, welcher wiederum aus Holz hergestellt wird.

Wellpappe entsteht durch das Zusammenkleben von mindestens einer glatten und einer gewellten Papierbahn. In dieser Form nennt man sie einseitige Wellpappe. Bei einer mehrwelligen Wellpappe werden bis zu neun Papierbahnen eingesetzt. Ihr entscheidendes Charakteristikum ist die sogenannte Welle: Papier erhält eine außerordentliche Festigkeit, wenn es gewellt bzw. geriffelt und mit glatten Papierbahnen so verklebt wird, dass sich dabei Hohlvolumen bilden. 


## Der Tischflitzer

NWP-TEC  2. Klassen – Schuljahr 2019/20

Im Rahmen des Naturwissenschaftlichen Praktikums lernten die Schüler*innen der zweiten Klassen im Technischen Werken dieses Schuljahr die Kombinationsschleifmaschine kennen. Sie setzten sich dabei theoretisch und praktisch mit deren Anwendungsmöglichkeiten und Gefahrenquellen auseinander. Das geschah im Zuge des Schleifmaschinenführerscheins. Dieser verfolgt das Ziel, verständnisvolles und vor allem sicheres Arbeiten an der Maschine zu trainieren und diese Fertigkeiten für künftiges selbständiges Arbeiten zu festigen.
Um den Führerschein zu bestehen, mussten die Schüler*innen Bestandteile und Funktionsweisen der beiden in der Kombinationsschleifmaschine vereinten Schleifmaschinen (Tellerschleifmaschine und Bandschleifmaschine) kennen und verstehen, sowie die unterschiedlichen Anwendungsmöglichkeiten einwandfrei praktisch ausführen. Das alles immer unter dem Gesichtspunkt, dass beide Schleifmaschinen über einen zentralen Elektromotor betrieben werden und aus diesem Grund immer parallel arbeiten.

Das Werkstück, welches im Rahmen des Schleifmaschinenführerscheins entstand, ist der Tischflitzer. Er besteht aus einer nach vorne hin abgerundeten und hinten spitz zusammenlaufenden Transportfläche und einem darunter befindlichen Fahrgestell. Anhand der Transportfläche konnten die Schüler*innen die unterschiedlichen Anwendungsmöglichkeiten der beiden Schleifmaschinen ausprobieren. An der Tellerschleifmaschine wurden Kanten und Außenrundungen geschliffen, an der Bandschleifmaschine Flächen und Innenrundungen.

Der Tischflitzer eignet sich durch sein auf Kugeln laufendes Fahrgestell dafür, auf Esstischen Salz und Pfeffer, kleinerer gefüllte Geschirrteile oder auch Teller elegant von einem Platz des Tisches zu einem anderen zu transportieren. Durch eine farbliche Gestaltung oder das Hinzufügen von Aufbauelementen konnte das genormte Grundmodell verändert und weiterentwickelt werden.


## Leiterwagen

TEC  3. Klassen (Schuljahr 2019/20)

In den 3. Klassen wurde in diesem Schuljahr im Technischen Werken das Thema einfache Lenkungsmöglichkeiten erarbeitet. Das geschah anhand eines Leiterwagens. Die Schüler*innen erzeugten im M 1:5 das Modell eines Leiterwagens und montierten daran anschließend eine Drehschemel-Lenkung. Diese Lenkung stellt eine sehr einfache aber zugleich effektive Möglichkeit dar, einen angehengten Wagen zu steuern.

Die beiden Leitern bestehen aus jeweils fünf Rundstäben, die in die Rahmenstäbe eingebohrt und versenkt sind. Sie werden in einem Winkel von 25 Grad auf der Bodenplatte befestigt und bilden mit den Verbindungsleisten oben, unten und den eingepassten Begrenzungsleisten den Behälter des Leiterwagens.

Zugstange und Drehschemel werden auf der Unterseite des Wagens an der vorderen Achsbefestigung mittels einer Gewindeschraube montiert. Der Wagen lässt sich so in jede Richtung um mehr als 90 Grad lenken und eignet sich, wie man in den Abbildungen sieht, ausgezeichnet auch zum Transport von kleineren Haustieren.


## Schmuckkästchen (Produktgestaltung)

TEC -  3. Klassen

Die Schüler*innen der 3. Klassen erzeugten in diesem Schuljahr ein Schmuckkästchen, welches auf der Deckfläche über eine Einlegearbeit (Intarsie) verfügte. Die Intarsie wurde von den Schüler*innen selbständig entworfen und danach aus Streifen einer Sperrholzplatte zusammengesetzt.

Bei einer Intarsie handelt es sich um eine Dekorationstechnik, bei der auf einer planen Oberfläche verschiedene Holzelemente so in- oder aneinandergelegt werden, dass daraus in der Regel wieder eine ebene Fläche entsteht, die verschiedenfarbige und unterschiedlich strukturierte Formverläufe enthält.

Das Kästchen war innen mittels einer herausnehmbaren und unterteilten Lade in zwei Ebene gegliedert und wurde abschließend mit einer transparenten Lackschicht versehen.

Alexander Golser

