# Turnsaal

<div class="carousel"></div><script>buildCarousel('Bewegung und Sport');</script>

Liebe zukünftige BRG1-Sportler*innen, <br>
wir haben in unserer Schule einen zwar nicht allzu großen, aber gut ausgestatteten Turnsaal. Zusätzlich finden unsere Sportstunden auch in großen Turnhallen und auf Sportplätzen in der Umgebung statt. Im Winter gehen wir oft am Rathausplatz – ein Katzensprung von unserer Schule entfernt – Eis laufen.

In der 2. Klasse hast du im Rahmen des Schulschwimmens im Jörgerbad die Möglichkeit, das Allroundschwimmabzeichen zu erlangen. Außerdem fahren wir auch auf Wintersportwoche in ein tolles Skigebiet in Salzburg.

In der 5. Klasse kannst du auf der Sportwoche in Kärnten verschiedene Sportarten (Reiten, Segeln, Kajak, Klettern…) erlernen oder dein Können verbessern.

Du hast auch die Möglichkeit, dich für unsere unverbindlichen Übungen ‚Fußball‘ und ‚Ballspiele‘ anzumelden. Wenn du die Nachmittagsbetreuung besuchst, kannst du 2x pro Woche an einer weiteren Sportstunde teilnehmen.
Unsere Schule nimmt an vielen Wettkämpfen und sportlichen Veranstaltungen teil, bei denen unsere Schüler*innen auch immer wieder mit tollen Leistungen glänzen.

Wir freuen uns, wenn wir bald miteinander sporteln können,
euer Sportlehrer*innenteam des BRG1
